<h3>Devolução</h3>

<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Fabricante</strong>
    </div>
    <div class="panel-body">
        <div class="form-group col-xs-6">
            <label class="control-label" for="partner">Fabricante</label>
            <select class="selectpicker form-control" ng-options="productSearch in productSearchList"
            ng-model="productSelected">
            </select>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Itens a devolver</strong>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <div class="btn-group">
                <button type="button" class="btn btn-xs btn-default" ng-click="addRow()">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
                <button type="button" class="btn btn-xs btn-default" ng-click="removeRow()">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <div class="form-group">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <tr>
                                <th>Produto</th>
                                <th>Quantidade</th>
                                <th>Motivo de devolução</th>
                            </tr>
                            <tr ng-repeat="item in itens">
                                <td>{{item.productShortName}}</td>
                                <td>{{item.quantity}}</td>
                                <td>{{item.returnReason}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="openItemFormFlag===true">
            <div class="col-xs-8">
                <div class="row">
                    <div class="col-xs-8">
                    <h4> Adicionar Item</h4>
                    </div>
                    <div class="col-xs-1 pull-right">
                        <button type="button" class="close" ng-click="closeItemForm()">
                            <span>&times;</span>
                        </button>
                    </div>
                </div>
                <hr/>
                <form class="form-horizontal" ng-submit="addRow()">
                    <div class="form-group">
                        <label class="control-label col-xs-2" for="productShortName">Produto</label>
                        <div class="col-xs-4">
                            <input class="form-control" type="search" id="productShortName" ng-model="product.searchTerm">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2" for="productQuantity">Quantidade</label>
                        <div class="col-xs-3" id="productQuantityDiv">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <input class="form-control" type="number" id="productQuantity" min="0" ng-model="product.quantity" required>
                                    </div>
                                    <div class="col-xs-1" id="productMeasureUnitDiv">
                                        <span>{{product.measureUnit}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2" for="returnReason">Motivo</label>
                        <div class="col-xs-4">
                            <select class="form-control" ng-options="returReasonOpt as returnReason.desc for returnReason
                        in returnReasonEnum track by returnReason.enumValue" ng-model="returnReasonSelected">
                        </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-2 col-xs-offset-3">
                                <input type="submit" value="Criar" class="btn btn-primary">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-offset-6">
                <button type="button" class="btn btn-primary" ng-click="sendNotification()">Enviar</button>
            </div>
        </div>
    </div>
</div>